@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

* {
    font-family: 'Architects Daughter', cursive;
}

code {
    font-family: 'Courier New', Courier, monospace;
    width: 60%;
    margin-top: 1rem;
    display: block;
    background-color: rgb(230, 230, 230);
    padding: 1rem;
    border-radius: 5px;
    overflow: auto;
}